<!DOCTYPE html>
<html lang="en">

<head>
    <title>โปรแกรมขายสินค้า</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/public/images/icons/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/public/images/icons/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/public/images/icons/favicon-114x114.png">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link type="text/css" rel="stylesheet" href="/public/styles/jquery-ui-1.10.4.custom.min.css">
    <link type="text/css" rel="stylesheet" href="/public/styles/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/public/styles/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/public/styles/animate.css">
    <link type="text/css" rel="stylesheet" href="/public/styles/all.css">
    <link type="text/css" rel="stylesheet" href="/public/styles/main.css">
    <link type="text/css" rel="stylesheet" href="/public/styles/style-responsive.css">
    <link type="text/css" rel="stylesheet" href="/public/styles/zabuto_calendar.min.css">
    <link type="text/css" rel="stylesheet" href="/public/styles/pace.css">
    <link type="text/css" rel="stylesheet" href="/public/styles/jquery.news-ticker.css">
     <link type="text/css" rel="stylesheet" href="/public/styles/jplist-custom.css">
    
</head>

<body>
    <div>
      
        <a id="totop" href="#">
            <i class="fa fa-angle-up"></i>
        </a>
        <!--END BACK TO TOP-->
        <!--BEGIN TOPBAR-->
        <div id="header-topbar-option-demo" class="page-header-topbar">
            <nav id="topbar" role="navigation" style="margin-bottom: 0;" data-step="3" class="navbar navbar-default navbar-static-top">
                <div class="topbar-main">

                    <div class="news-update-box hidden-xs">
                        <span class="text-uppercase mrm pull-left text-white">News:</span>
                        <ul id="news-update" class="ticker list-unstyled">
                            <li style="color: #FFFFFF;">ยินดีตอนรับสู่โปรแกรมขายสินค้า</li>
                        </ul>
                    </div>
                    <ul class="nav navbar navbar-top-links navbar-right mbn">
                        <li class="dropdown topbar-user">
                            <a data-hover="dropdown" href="#" class="dropdown-toggle">
                                <img src="/public/images/avatar/48.jpg" alt="" class="img-responsive img-circle" />&nbsp;
                                <span class="hidden-xs">ตั้งค่าโปรแกรม</span>&nbsp;
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-user pull-right">
                                <li>
                                    <a href="/buy">
                                        <i class="fa fa-user"></i>ขายสินค้า</a>
                                </li>
                                <li>
                                    <a href="/buy/listorder">
                                        <i class="fa fa-calendar"></i>รายการที่ขายวันนี้</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="/home">
                                        <i class="fa fa-lock"></i>ตั้งค่าโปรแกรม</a>
                                </li>
                                <li>
                                    <a href="/">
                                        <i class="fa fa-key"></i>กลับสู่เมนูหลัก</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
        <div id="wrapper">
            <!--BEGIN SIDEBAR MENU-->


            {{{ body }}}
            <div id="footer">
                <div class="copyright">
                    <marquee  direction="left" onmouseout="this.start()" onmouseover="this.stop()" scrollamount="2" scrolldelay="5">
                        <span style="color: red;">
                            <b id="msg" >ไม่สามารถเชื่อมต่อ Server ได้ กรุณาติดต่อ เจ้าหน้าที่ หรือผู้พัฒนาระบบ ที่ https://www.facebook.com/prisan6046 หรือ ติดต่อ 0902681080 0807549820 </b>
                        </span>
                    </marquee>

                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="/public/script/jquery-1.10.2.min.js"></script>
    <script src="/public/script/jquery-migrate-1.2.1.min.js"></script>
    <script src="/public/script/jquery-ui.js"></script>
    <script src="/public/script/bootstrap.min.js"></script>
    <script src="/public/script/bootstrap-hover-dropdown.js"></script>
    <script src="/public/script/html5shiv.js"></script>
    <script src="/public/script/respond.min.js"></script>
    <script src="/public/script/jquery.metisMenu.js"></script>
    <script src="/public/script/jquery.slimscroll.js"></script>
    <script src="/public/script/jquery.cookie.js"></script>
    <script src="/public/script/icheck.min.js"></script>
    <script src="/public/script/custom.min.js"></script>
    <script src="/public/script/jquery.news-ticker.js"></script>
    <script src="/public/script/jquery.menu.js"></script>
    <script src="/public/script/pace.min.js"></script>
    <script src="/public/script/holder.js"></script>
    <script src="/public/script/responsive-tabs.js"></script>
    
    <script src="/public/script/zabuto_calendar.min.js"></script>
    <script src="/public/script/index.js"></script>
    <script src="/public/script/highcharts.js"></script>
    <script src="/public/script/data.js"></script>
    <script src="/public/script/drilldown.js"></script>
    <script src="/public/script/exporting.js"></script>
    <script src="/public/script/highcharts-more.js"></script>
    <script src="/public/script/charts-highchart-pie.js"></script>
    <script src="/public/script/charts-highchart-more.js"></script>
    

    
    <!--CORE JAVASCRIPT-->
    <script src="/public/script/main.js"></script>
    <script>        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-145464-12', 'auto');
        ga('send', 'pageview');


    </script>


    

    <script>
        getoffice();
        function getoffice() {
        
            $.ajax({
                type: "GET",
                url: "http://big-sh-korat.com/api/msg",
                dataType: "json",
                success: function (lg) {
                    //console.log(lg.msg);
					$("#msg").html(lg.msg);
                    /*jQuery.each(lg, function (index, row) {
                            $("#msg").html(row.msg);

                    });
					*/
                    
                }
            });
        }


    </script>
</body>

</html>