<section class="content">
     <div class="row">
         <div class="col-md-4">
          <div class="box box-widget widget-user">
            <div class="widget-user-header bg-aqua-active">
              <h3 class="widget-user-username">ประเภทสินค้า</h3>
            </div>
            <div class="widget-user-image">
              <img class="img-circle" src="../dist/img/user1-128x128.jpg" alt="User Avatar">
            </div>
             <div class="box-footer">
              <div class="row">
                <div class="col-sm-4 border-right">
                 
                </div>
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <a class="btn btn-app" href="/product/listgroup">
                        <i class="fa fa-barcode"></i> รายการ
                    </a>
                  </div>
                </div>
                <div class="col-sm-4 border-right">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
         <div class="col-md-4">
          <div class="box box-widget widget-user">
            <div class="widget-user-header bg-aqua-active">
              <h3 class="widget-user-username">รายละเอียดสินค้า</h3>
            </div>
            <div class="widget-user-image">
              <img class="img-circle" src="../dist/img/user1-128x128.jpg" alt="User Avatar">
            </div>
            <div class="box-footer">
              <div class="row">
                <div class="col-sm-4 border-right">
                 
                </div>
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <a class="btn btn-app" href="/product/listdetailproduct">
                        <i class="fa fa-barcode"></i> รายการ
                    </a>
                  </div>
                </div>
                <div class="col-sm-4 border-right">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
         <div class="col-md-4">
          <div class="box box-widget widget-user">
            <div class="widget-user-header bg-aqua-active">
              <h3 class="widget-user-username">รายการจำนวนสินค้าทั้งหมด</h3>
            </div>
            <div class="widget-user-image">
              <img class="img-circle" src="../dist/img/user1-128x128.jpg" alt="User Avatar">
            </div>
            <div class="box-footer">
              <div class="row">
                <div class="col-sm-4 border-right">
                 
                </div>
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <a class="btn btn-app" href="/product/listtableproduct">
                        <i class="fa fa-barcode"></i> รายการ
                    </a>
                  </div>
                </div>
                <div class="col-sm-4 border-right">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
</section>